body.s-lib-public-body {
margin: 0;
padding: 0;
}

ul.main-nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#111;
    border-bottom-style:solid;
    border-bottom-color: #b00203;
    border-bottom-width: 10px;
}

li.main-nav-list {
    float: left;
}

li.main-nav-list a.main-nav-link {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.main-nav-list a:hover {
    background-color: #333;
}