body.s-lib-public-body {
margin: 0;
padding: 0;
}

div#main-nav {
    background-color: #000000;
    padding: 0;

div.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1270px;
}

div.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: normal;
    justify-content: normal;
    align-items: normal;
    margin-right: -15px;
    margin-left: -15px;
}

div.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

nav.navbar {
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    background-color: transparent;
}

a:-webkit-any-link {
    cursor: pointer;
}

a.navbar-brand {
    color: #ffffff;
    display: inline-block;
    line-height: inherit;
    white-space: nowrap;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn:hover {
    color:#ffffff;
    text-decoration: none;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled), [type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.nav-search-btn {
    order: 3;
}

.btn {
    border-width: 2px;
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

button {
    text-transform: none;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 0;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap
    width: fit-content;
    margin: 0 auto;
    list-style: none;
}

megamenu-li {
    position: static;
}

nav.link {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
}

ul.main-nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#111;
    border-bottom-style:solid;
    border-bottom-color: #b00203;
    border-bottom-width: 10px;
}

li.main-nav-list {
    float: left;
}

li.main-nav-list a.main-nav-link {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.main-nav-list a:hover {
    background-color: #333;
}